{% extends 'base.html' %}

{% block content %}
<section id='home-section'>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-6 text-center d-lg-block">
                <h3>Catalog Catagories</h3>
                <div class="list-group">
                    {% if catagories %}
                    {% for i in catagories %}
                    <div class="btn-group mb-1">
                        <a href="{{url_for('get_items', catagory_id=i.id)}}"
                            class="list-group-item d-flex list-group-item-action justify-content-between align-items-center">
                            {{i['name']}}
                            <span class="badge badge-danger badge-pill">Items: {{i.id | count }}</span>
                        </a>
                        <button class="btn btn-secondary" data-toggle='modal' data-target='#editCatagory{{i.id}}'">Edit</button>
                        <button class="btn btn-danger" data-toggle='modal' data-target='#deleteCatagory{{i.id}}'">Delete</button>
                    </div>

                    {% endfor %}
                    {% else %}
                    <p>There are currently no catagories.</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 text-center d-lg-block">
                <h3>Latest 5 Items</h3>
                {% for item in "value" | latest_items %}
                <a href="#" class="list-group-item d-flex list-group-item-action justify-content-between">
                    <span><strong>{{item.name}}</strong> ({{item.catalog_id | catagory}})</span>
                    <span>{{now | datetime }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-primary" data-toggle='modal' data-target='#createCatagory'>Create Catagory</button>
        </div>
    </div>
</section>

<div class="modal fade text-dark" id='createCatagory'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Catalog Catagory</h5>
                <button class="close" data-dismiss='modal'>
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/catagory/create" method='POST'>
                    <div class="form-group">
                        <input type="text" class='form-control' name='name' placeholder="catagory">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary btn-block btn-lg" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% for i in catagories %}
<div class="modal fade text-dark" id='editCatagory{{i.id}}'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Catalog Catagory</h5>
                <button class="close" data-dismiss='modal'>
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('edit_catagory', catagory_id=i.id)}}" method='POST'>
                    <div class="form-group">
                        <input type="text" class='form-control' name='name' placeholder="{{i.name}}">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-secondary btn-block btn-lg" type="submit">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-dark" id='deleteCatagory{{i.id}}'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Catagory {{i.name}}</h5>
                <button class="close" data-dismiss='modal'>
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('delete_catagory', catagory_id=i.id)}}" method='POST'>
                    <div class="form-group">
                        <button class="btn btn-outline-danger btn-block btn-lg" type="submit">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}